/**
 * EWySiWyg editor
 * Version: 1.0
 * Copyright: Oleksandr Drozd <dev.drozd@gmail.com>.
*/
@font-face {
  font-family: 'icons';
  src: url('../fonts/fontello.woff2?55441790') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ewswg {
    max-width: 100%;
    background: #fff;
    text-align: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #eef0f3;
    margin-bottom: 5px;
}

.ewswg *, .ewswg-modal * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ewswg-body img {
    max-width: 100%;
}

.ewswg-body {
    min-height: 300px;
    outline: none;
    padding: 15px;
    line-height: 24px;
    color: #848484;
    max-height: 500px;
    overflow: auto;
    width: 100%;
    border: none;
}

textarea.ewswg-body {
    font-family: monospace;
    margin-bottom: -7px;
	background: #384a52;
    color: #efe8d0;
	max-width: 100%;
}

.ewswg-head {
    border-bottom: 1px solid #eef0f3;
    background: #F7F8FA;
    position: relative;
    min-height: 36px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.05);
}

.ewswg-head > div {
    display: inline-block;
    padding: 0 9px 0 0;
    position: relative;
}

.ewswg-head > div:not(:last-child):after {
    content: ' ';
    width: 1px;
    height: 28px;
    position: absolute;
    top: 5px;
    right: 3px;
    background: #ddd;
}

.ewswg-head i {
    display: inline-block;
    color: #555;
    padding: 6px 7px;
    width: 38px;
    height: 38px;
    line-height: 2;
    text-align: center;
    cursor: pointer;
    float: none;
    border: none;
    background: transparent;
    outline: none;
}

.ewswg-head i:hover {
    background: #F1F1F1;
    color: #000;
}

.ewswg-head i.disabled {
    color: #cecece;
}

.ewswg-head i.disabled:hover {
    background: none;
    cursor: default;
}

.ewswg-head > div > div {
    display: inline-block;
    position: relative;
}

.ewswg-head > div > div:hover .ewswg-drop {
    max-height: 400px;
}

.ewswg-head > div > div:hover > .ewswg-table {
	max-height: 191px;
	height: 191px;
}


.ewswg-drop {
    position: absolute;
    top: 38px;
    left: 0px;
    background: #FAFAFA;
    max-height: 0px;
    color: #9E9E9E;
    overflow: hidden;
    box-shadow: 1px 1px 0px #ddd;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.ewswg-drop ul {
    list-style: none;
    width: 130px;
    padding: 0 10px;
    margin: 0;
}

.ewswg-drop ul li {
    padding: 5px;
}

.ewswg-drop.ewswg-header ul li {
    font-weight: bold;
}

.ewswg-drop ul li:hover {
    background: #F3F3F3;
    color: #777;
    margin: 0 -10px;
    padding: 5px 15px;
    cursor: pointer;
}

.ewswg-drop.size ul li:nth-child(4) {
    font-size: 120%;
}

.ewswg-drop.size ul li:nth-child(3) {
    font-size: 140%;
}

.ewswg-drop.size ul li:nth-child(2) {
    font-size: 160%;
}

.ewswg-drop.size ul li:nth-child(1) {
    font-size: 180%;
}

.ewswg-drop.color span {
    width: 20px;
    height: 20px;
    display: block;
    float: left;
    cursor: pointer;
}

.ewswg-drop.color:after {
    content: ' ';
    display: table;
    clear: both;
}

.ewswg-drop.color {
    width: 100px;
}

.ewswg-drop.ewswg-header ul {
    width: 170px;	
}

.ewswg-drop.ewswg-header ul li:nth-child(6) {
    font-size: 80%;
}

.ewswg-drop.ewswg-header ul li:nth-child(5) {
    font-size: 100%;
}

.ewswg-drop.ewswg-header ul li:nth-child(4) {
    font-size: 120%;
}

.ewswg-drop.ewswg-header ul li:nth-child(3) {
    font-size: 140%;
}

.ewswg-drop.ewswg-header ul li:nth-child(2) {
    font-size: 160%;
}

.ewswg-drop.ewswg-header ul li:nth-child(1) {
    font-size: 180%;
}

.ewswg-resize {
    float: right !important;
}

.ewswg.ewswg-full-screen .ewswg-resize::before {
	content: '\e812';
}

.ewswg.ewswg-full-screen {
	width: 100%;
    border: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
}

.ewswg-table {
	width: 190px;
}

.ewswg-table > span {
    display: block;
    width: 15px;
    height: 15px;
    border: 1px solid #DADADA;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.ewswg-table > span:hover {
    background: rgba(218, 218, 218, 0.36);
}

.ewswg-modal {	
	position: fixed;	
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999999999;
	background: #00000024;
}
.ewswg-modal > div:first-child {
	position: absolute;
	padding: 15px;
	max-width: 400px;
	background: #fff;
	left: 0;
	right: 0;
	margin: auto;
	top: 25%;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.1), -1px 0 2px rgba(0,0,0,0.05);
}

.ewswg-modal > div > div:first-child {
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #686a76;
    text-align: center;
    border-bottom: 1px solid #EEF5F9;
    margin-bottom: 15px;
    font-weight: bold;
}

.ewswg-modal > div > div > i:first-child {
	font-style: normal;
	position: absolute;
	right: 20px;
	padding: 5px;
	width: 15px;
	height: 15px;
	line-height: 15px;
	color: #676976;
}

.ewswg-modal > div > div > i:first-child:hover {
	color:#000;
	cursor:pointer;
}

.ewswg-modal label {
	display: block;
}

.ewswg-modal input {
    width: 100%;
    outline: none;
    padding: 8px 12px;
    background: #fcfcfc;
    border: 3px solid #e6eaeb;
}

.ewswg-modal button {
    text-transform: uppercase;
    outline: none;
    padding: 12px;
    color: #fff;
    width: 100%;
    background: #4eb980;
    border: 0;
}

.ewswg-modal input, .ewswg-modal button {
	margin: 10px 0px;
}

.ewswg-modal button:hover {
	cursor: pointer;
	background: #3bc47b;
}

.ewswg-body table {
    width: 100%;
	display: table;
}

.ewswg-body td {
	border: 1px dashed #ddd;
	min-width: 20px;
	min-height: 20px;
	padding: 0;
	margin: 0;
	line-height: 24px;
}

@media (max-width: 600px) {
	.ewswg-head i {
		padding: 4px 4px;
		width: 28px;
		height: 28px;
		line-height: 1;
	}
	.ewswg-head > div:not(:last-child):after {
		height: 18px;
	}
}

.icon-bold:before { content: '\e800'; }
.icon-italic:before { content: '\e801'; }
.icon-align-left:before { content: '\e802'; }
.icon-align-center:before { content: '\e803'; }
.icon-align-right:before { content: '\e804'; }
.icon-align-justify:before { content: '\e805'; }
.icon-indent-right:before { content: '\e806'; }
.icon-indent-left:before { content: '\e807'; }
.icon-list:before { content: '\e808'; }
.icon-minus:before { content: '\e809'; }
.icon-link:before { content: '\e80a'; }
.icon-adjust:before { content: '\e80b'; }
.icon-th:before { content: '\e80c'; }
.icon-font:before { content: '\e80d'; }
.icon-text-height:before { content: '\e80e'; }
.icon-ccw:before { content: '\e80f'; }
.icon-cw:before { content: '\e810'; }
.icon-resize-full:before { content: '\e811'; }
.icon-resize-small:before { content: '\e812'; }
.icon-list-numbered:before { content: '\f0cb'; }
.icon-strike:before { content: '\f0cc'; }
.icon-underline:before { content: '\f0cd'; }
.icon-quote-left:before { content: '\f10d'; }
.icon-code:before { content: '\f121'; }
.icon-eraser:before { content: '\f12d'; }
.icon-youtube:before { content: '\f167'; }
.icon-header:before { content: '\f1dc'; }
.icon-table:before { content: '\f0ce'; }
.icon-picture:before { content: '\e813'; }
